.inputField {
    
    width: 100%; 
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3rem;
    grid-gap: 1rem;
    height: auto;
    /*overflow: hidden; */
}

@media only screen and (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4rem 2rem;
        grid-auto-rows: 2rem;
    }
}
